.table-title {
  text-align: center;
  margin-bottom: 20px;
}
.table-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
.table-container {
    margin: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }
